<p id="notice"><%= notice %></p>

<h1>Situaions</h1>

<table>
  <thead>
    <tr>
      <th>S name</th>
      <th>S type</th>
      <th>S description</th>
      <th>S role</th>
      <th>S price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situaions.each do |situaion| %>
      <tr>
        <td><%= situaion.s_name %></td>
        <td><%= situaion.s_type %></td>
        <td><%= situaion.s_description %></td>
        <td><%= situaion.s_role %></td>
        <td><%= situaion.s_price %></td>
        <td><%= link_to 'Show', situaion %></td>
        <td><%= link_to 'Edit', edit_situaion_path(situaion) %></td>
        <td><%= link_to 'Destroy', situaion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situaion', new_situaion_path %>
